
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about {
    background: url("assets/img/gallery/gallery-1.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 80px 0;
  }

  .about .containerjana{
    padding-left: 50px;
  }

  .about .containerjana h2{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #ffffff;
    }
  

  
  .about .about-img {
    position: relative;
    transition: 0.5s;
  }
  

  
  .about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: "";
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: 0.5s;
  }
  
  .about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: "";
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: 0.5s;
  }
  
  .about .about-img:hover {
    transform: scale(1.03);
  }
  
  .about .about-img:hover::before {
    left: 10px;
    top: 10px;
  }
  
  .about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
  }
  
  .about .content {
    position: relative;
  }
  
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  @media (min-width: 1024px) {
    .about {
      background-attachment: fixed;
    }
  }
  
  /*--------------------------------------------------------------
  # Why Us
  --------------------------------------------------------------*/
  #why-us .container .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #ffffff;
    text-align: left;
}
  .why-us{
    padding: 0%;
    margin: 0%;
    padding-left: 80px;
    padding-right: 80px;
  }

  .why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
  }
  
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #cda45e;
  }
  
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .why-us .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #cda45e;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .why-us .box:hover span,
  .why-us .box:hover h4,
  .why-us .box:hover p {
    color: #fff;
  }

 #why-us{
    margin-top: 30px;
 }
  
  #why-us .section-bg {
    background-color: #1a1814;
  }
  
  #why-us .section-title {
    padding-bottom: 40px;
    text-align: left;
    font-family: "Nunito", sans-serif;
  }
  
  #why-us .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  #why-us .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
  }
  
  #why-us .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
  }
  